NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
RPC_URL=https://api.devnet.solana.com
OPEN_AI_API_KEY=KEY
OPEN_AI_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/
OPEN_AI_MODEL=gemini-2.5-flash-lite